<div class="col-xs-4 col-xs-offset-4 user-page">

  <a href="https://github.com/strong-code"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>

  <h1>Sign In</h1>
    <form action="<%= session_url %>" method="POST">
      <div class="form-group">

      <%= csrf_token %>

      <label>Username
        <input class="form-control" type="text" id="username" name="user[username]" value="<%= @user.username %>">
      <label>

      <br>

      <label>Password
        <input class="form-control" type="password" id="password" name="user[password]" value="<%= @user.password %>">
      <label>

      <br>

      <button type="submit" id="sign-in" class="btn btn-default">Sign In</button>

      <button id="demo-user" class="btn btn-default">Demo User</button>
      </div>
    </form>

  <span class="alternative-user-action">Don't have an account? <%= link_to "Create one", new_user_url %></span>

</div>


<script>
  $('#demo-user').on("click", function(event) {
    event.preventDefault();
    $('#username').val('TestUser');
    $('#password').val('password');
    $('#sign-in').click();
  });

  $('#sign-in').on('click', function(event) {
    $header = $('<h1 class="loading-text">Please wait while we load your RSS feeds...</h1>');
    $icon = $('<h3 class="loading-text"><div class="glyphicon glyphicon-refresh spin"></div></h3>');
    $face = $('<h2 class="loading-text">:^)</h2>');
    $('.user-page').html('').append($header).append($icon).append($face);
  })
</script>
