<div class="user-page">

  <a href="https://github.com/strong-code"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>

  <h1>Sign Up</h1>
    <form action="<%= users_url %>" method="POST">
      <div class="form-group">

      <%= csrf_token %>

      <label>Username
        <input class="form-control" type="text" name="user[username]" value="<%= @user.username %>">
      <label>

      <br>

      <label>Password
        <input class="form-control" type="password" name="user[password]" value="<%= @user.password %>">
      <label>

      <br>

      <p><button type="submit" id="create-account" class="btn btn-default">Create Account</button></p>
    </div>
  </form>

  <span class="alternative-user-action">Already have an account? <%= link_to "Log In", new_session_url %></span>
</div>
