<div class='col-xs-5 col-xs-offset-1'>
  <h1>Hello, <%= @user.username%></h1>
</div>

  <header class="row"></header>

  <div class='col-xs-5' id='main-sidebar'>
    <form action="<%= feeds_url %>" method="POST" id="new-feed-form">
        <div class="input-group">
          <%= csrf_token %>
          <input type="text" class="form-control" name="feed[url]" placeholder="yourfeedurl.com/rss">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" id="submit-new-feed-btn">
              <span class="glyphicon glyphicon-plus-sign" id="submit-new-feed-icon"></span>  Add Feed
            </button>
          </span>
      </div>
    </form>

    <br>
    <div id="feed-list">
      <ul>
        <% @feeds.reverse.each do |feed| %>
          <div class="feed-list-entry">
              <h4 class="feed-list-title"><%= feed.title %>
                <a data-method="patch" href="<%= feed_url(feed) %>"><span data-id="<%= feed.id %>" class="glyphicon glyphicon-refresh"></span></a>
                <a data-method="delete" href="<%= feed_url(feed) %>"><span data-id="<%= feed.id %>" class="glyphicon glyphicon-trash"></span></a>
              </h4>
              <% if feed.description %>
                <%= feed.description[0..110]%><% if feed.description.length > 110 %>... <%end%>
              <% end %>
          </div>
          <br>
        <% end %>
      </ul>
    </div>

  </div>

  <div class="col-xs-6" id="current-feed-entries">
    <% @feeds.reverse.each do |feed| %>
      <h3><%= feed.title %></h3>
        <% feed.entries.reverse.each do |entry| %>
          <div><a href="<%= CGI.unescapeHTML(entry.link) %>"><%= CGI.unescapeHTML(entry.title) %></a></div>
        <% end %>
    <% end %>
  </div>

  <div class="row"></div>

  <footer class='col-xs-4 col-xs-offset-1'>
    <%= link_to "Log Out", session_url, method: :delete%>
  </footer>


<script>
  $(function() {
    $('.glyphicon-refresh').on('click', function(e) {
      // var feedId = $(e.currentTarget).data('id');
      $(e.currentTarget).toggleClass("spin");
    });
    $('.glyphicon-trash').on('click', function(e) {
      $(e.currentTarget).toggleClass("glyphicon-trash");
      $(e.currentTarget).toggleClass("glyphicon-cog");
      $(e.currentTarget).toggleClass("spin");
    });
    $('#submit-new-feed-btn').on('click', function() {
      $('#submit-new-feed-icon').toggleClass("glyphicon-plus-sign");
      $('#submit-new-feed-icon').toggleClass("glyphicon-cog");
      $('#submit-new-feed-icon').toggleClass("spin");
    })
  });
</script>