<div class='col-xs-5 col-xs-offset-1'>
  <h1>Hello, <%= @user.username%></h1>
</div>

  <header class="row"></header>

  <div class='col-xs-5' id='main-sidebar'>
    <form action="<%= user_feeds_url(@user) %>" method="POST">
        <div class="input-group">
          <%= csrf_token %>
          <input type="text" class="form-control" name="feed[url]" placeholder="yourfeedurl.com/rss">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus-sign"></span>  Add Feed
            </button>
          </span>
      </div>
    </form>

    <br>
    <div id="feed-list">
      <ul>
        <% @feeds.each do |feed| %>
          <div class="feed-list-entry">
              <h4 class="feed-list-title"><%= feed.title %>
                <a href="<%= user_url(@user) %>"><span data-id="<%= feed.id %>" class="glyphicon glyphicon-refresh"></span></a>
                <a data-method="delete" href="<%= user_feed_url(@user, feed) %>"><span data-id="<%= feed.id %>" class="glyphicon glyphicon-trash"></span></a>
              </h4>
              <% if feed.description %>
                <%= feed.description[0..80]%><% if feed.description.length > 80 %>... <%end%>
              <% end %>
          </div>
          <br>
        <% end %>
      </ul>
    </div>

  </div>

  <div class="col-xs-6" id="current-feed-entries">
    <% @feeds.each do |feed| %>
      <h3><%= feed.title %></h3>
        <% feed.entries.each do |entry| %>
          <div><a href="<%= entry.link %>"><%= entry.title %></a></div>
        <% end %>
    <% end %>
  </div>

  <div class="row"></div>

  <footer class='col-xs-4 col-xs-offset-1'>
    <%= link_to "Log Out", session_url, method: :delete%>
  </footer>


<script>
  $(function() {
    $('.glyphicon-refresh').on('click', function(e) {
      var feedId = $(e.currentTarget).data('id');
      $(e.currentTarget).toggleClass("spin");
    });
  });
</script>