<h1 id="welcome">Hello, <%= user.get('username') %></h1>

<header class="row"></header>

<div class="row"></div>

<div id="feed-list">
  <ul>
    <% feeds.each(function(feed) { %>
      <div class="feed-item">
        <span data-id="<%= feed.get('id')%>" class="feed-item-title"><%= feed.get('title')%></span><span class="unread-entry-count">(<%= feed.get('unread') %>)</span><br>
        <span data-id="<%= feed.get('id') %>" class="glyphicon glyphicon-refresh"></span>
        <span data-id="<%= feed.get('id') %>" class="glyphicon glyphicon-trash"></span>
      </div>
    <% }) %>
  </ul>
</div>

<div class="row"></div>

<form method="POST" id="new-feed-form">
  <div class="input-group">
    <input type="text" class="form-control" name="feed[url]" placeholder="example.com/rss">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default" id="submit-new-feed-btn">
        <span class="glyphicon glyphicon-plus-sign" id="submit-new-feed-icon"></span>  Add Feed
      </button>
    </span>
  </div>
</form>

<div class="row"></div>

<button class="btn btn-default" id="logout-btn">Log Out</button>