<h1 id="welcome">Hello, <%= username %></h1>

<header class="row"></header>

<div class="row"></div>

<div id="feed-list">
    <% feeds.each(function(feed) { %>
      <div class="feed-item-container" id="container-<%= feed.id %>">
        <div class="unread-entry-count">(<%= feed.get('unread') %>)</div>
        <div class="feed-item">
          <span data-id="<%= feed.id%>" class="feed-item-title"><%= feed.get('title').substring(0,35) %></span><% if (feed.get('title').length>35) { %>...<%}%><br>
          <span data-id="<%= feed.id %>" class="glyphicon glyphicon-refresh"></span>
          <span data-id="<%= feed.id %>" class="glyphicon glyphicon-trash"></span>
          <br>
          <span class="feed-item-description"><%= feed.get('description') %></span>
        </div>
      </div>
    <% }) %>
</div>

<div class="row"></div>

<form method="POST" id="new-feed-form">
  <div class="input-group">
    <input type="text" class="form-control" name="feed[url]" placeholder="example.com/rss">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default" id="submit-new-feed-btn">
        <span class="glyphicon glyphicon-plus-sign" id="submit-new-feed-icon"></span>  Add Feed
      </button>
    </span>
  </div>
</form>

<div class="row"></div>

<button class="btn btn-default" id="logout-btn"><a href="/session" data-method="delete">Log Out</a></button>