<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SimpleFeed :^)</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <script>
      var username = "<%= current_user.username %>";
    </script>
  <% end %>

    <div id="menu" class="col-xs-3 col-xs-offset-0"></div>

    <div id="content" class="col-xs-8 col-xs-offset-1">
      <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
          <span class="alert alert-warning error-msg"><span class="glyphicon glyphicon-exclamation-sign"></span> <%= error %></span>
      <% end %>
    <% end %>
      <%= yield %>
    </div>

</body>
</html>
