<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SimpleFeed :^)</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-50111309-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

  <% if current_user %>
    <script>
      var currentUsername = "<%= current_user.username %>";
    </script>
  <% end %>
    <div id="menu" class="col-xs-3 col-xs-offset-0">
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <span class="alert alert-danger"><%= error %></span>
        <% end %>
      <% end %>

      <%= yield %>

    </div>

    <div id="content" class="col-xs-9">

      <div id="landing-page">
        <h1>Simple|Feed</h1>
        <h3>A dead-simple RSS reader</h3>
        <span id="landing-image"><img src="http://i.imgur.com/uAWkZwj.jpg"></span>
      </div>

    </div>

</body>
</html>
