<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SimpleFeed :^)</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">

    <% if flash[:errors] %>
      <div class="col-xs-9 col-xs-offset-4">
        <% flash[:errors].each do |error| %>
            <span class="alert alert-warning error-msg"><span class="glyphicon glyphicon-exclamation-sign"></span> <%= error %></span>
        <% end %>
      </div>
    <% end %>

    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
